:root {
  --color-red: #f21f30;
  --color-yellow: #f5b120;
  --color-orange: #f9622b;
  --color-purple: #641e50;
  --color-beige: #fef9f2;
  --color-green: #97a627;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #b3ada5;

  --xxs: 0.25rem;
  --xs: 0.5rem;
  --s: 0.75rem;
  --m: 1rem;
  --l: 1.2rem;
  --xl: 1.5rem;
  --xxl: 2rem;
  --xxxl: 4rem;

  --lh-tight: 100%;
  --lh-normal: 130%;
  --lh-loose: 150%;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;
}
